/* CSS-variable for the common color used in the page */
:root {
   --theme-color: #d6dbec;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

p, li {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: gray;
}

a:visited .fab, .fas {
    color: black;
}

.themeColor {    
    background-color: var(--theme-color, white); /* White is the fallback color if the variable does not work */
}

#leftPanel {    
    width: 300px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px 0 0 5px;
    
}

#leftPanel #picture img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    
}

#leftPanel #contact span {
    margin-right: 4px;
}

#contact, #personality {
    margin-left: 40px;
}

#contact h2 {
    display: none;    
}

main {
    
    width: 1150px;
    background-color: white;
    margin: 5px 5px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#leftPanel, main {
    padding: 5px;
}

h1 {
    font-size: 4em;
}

h3 { 
    border-radius: 10px;
    font-family: Fredoka One, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    /*#b4bddb*/
    border-bottom: 7px solid var(--theme-color, white); /* White is the fallback color if the variable does not work */
}



article {    
    padding: 5px;
    margin: 10px;
}

@media only screen and (max-width: 450px) {
    h1 {
        display:none;
    }

    #contact h2 {
        display: inline;
        text-align: center;
    }
}